@black: #000000;
@white: #ffffff;
@gray5: #f3f5f9;
@gray10: #ececf4;
@gray20: #deddf1;
@gray30: #bfc1ca;
@gray40: #b1b2ba;
@gray50: #a9abb5;
@gray60: #81838b;
@gray80: #37373c;
@gray100: #0a0a0b;
@green10: #f6faec;
@green40: #d9e8b0;
@purple40: #9593c6;
@purple50: #7f7cbc;
@purple70: #5854b8;
@purple80: #3c388d;
@purple100: #27255d;

@bw370: ~"(max-width: 369px)";
@bw400: ~"(max-width: 399px)";
@bw500: ~"(max-width: 499px)";
@bw600: ~"(max-width: 599px)";
@bw650: ~"(max-width: 649px)";
@bw768: ~"(max-width: 767px)";
@bw960: ~"(max-width: 959px)";
@bw1020: ~"(max-width: 1019px)";
@bw1170: ~"(max-width: 1169px)";
@bw1440: ~"(max-width: 1439px)";
@bw1600: ~"(max-width: 1599px)";

@w320: ~"(min-width: 320px)";
@w400: ~"(min-width: 400px)";
@w600: ~"(min-width: 600px)";
@w650: ~"(min-width: 650px)";
@w768: ~"(min-width: 768px)";
@w960: ~"(min-width: 960px)";
@w1020: ~"(min-width: 1020px)";
@w1440: ~"(min-width: 1440px)";
