*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
}

a {
  color: inherit;
}

button,
input,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
  background-image: none;
  background-color: transparent;
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #949494;
}

textarea {
  resize: vertical;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

progress {
  vertical-align: baseline;
}

fieldset {
  margin: 0;
  padding: 0;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  user-select: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.nuxt-icon {
  margin-bottom: 0 !important;
}

.nuxt-icon > * {
  margin-bottom: 0 !important;
}

[hidden] {
  display: none;
}
